/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: #eee;
  border-bottom: 3px solid #2f364020;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header img.logo {
  font-size: 25px;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}

 #movies { 
  display: flex;
  flex-wrap: wrap;
  max-width: 1350px;
  max-height: 1885px;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color: white;
  border-width: 10px;
  border-left-width: 25px;
  border-right-width: 25px;
}

.movie-img-container{
  width: 500px;
}

img { 
  width: 99%;
}

#query {
  text-align: center;
  padding-top: 20px;
}

select, button, input { 
  width: 100px;
}

footer{
  border-top: 3px solid #2f364020;
  background-color: #eee;
  justify-content: space-around;
  position: relative;
}

.column {
  float: right;
  width: 30%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
  
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
  
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
  
	/* Support for IE. */
	font-feature-settings: 'liga';
  }

  /* Flex */
  input {
    width: auto;
  }

#year, #genre{
  font-size: 16px;
  border-radius: 4px;
  width: 150px;
  border:1px solid #cccccc;
}

.genre-wrapper, .year-wrapper {
  padding-bottom: 10px;
}

.clear-button-wrapper {
  padding-top: 20px;
  padding-bottom: 10px;
}

#button {
  color: black;
  padding: 10px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 20px;
  display: flex;
  margin: 0 auto;
  cursor: pointer;
  justify-content: center;
  border: none;
  border-radius: 5px;
}

.checkbox-container {
  margin-right: 1%;
  cursor: pointer;
}

.checkbox {
  border:1px solid #cccccc;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: center;
  }
  .header-center {
    float: none;
  }
  
  .header img.logo {
    width: 70%;
  }
}
